@import "susy";
@import "mixins";

$black: oklch(14.1% 0.005 285.823);
$white: oklch(98.5% 0 0);
$light-grey: oklch(0.8988 0.017 285.786);
$grey: oklch(37% 0.013 285.805);
$dark-grey: oklch(44.2% 0.017 285.786);
$white-transparent: oklch(98.5% 0 0 / 0.5);
$neutral: oklch(97.788% 0.004 56.375);
$neutral-transparent: oklch(97.788% 0.004 56.375 / 0.5);
$neutral-3: oklch(91.586% 0.006 53.44);
$red-light: oklch(0.7529 0.0743 28.62);
$red-base: oklch(0.4444 0.1686 28.62);
$red-darker: oklch(0.3861 0.1228 28.62);
$red-darkest: oklch(0.3514 0.1003 28.62);

$shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

@mixin link($color: $red-base, $hover: $red-darkest) {
  a,
  a:link,
  a[href],
  a:visited {
    color: $color;

    text-decoration-skip-ink: skip;
    text-decoration: underline;
    @content;
    &:hover {
      color: $hover;
      transition: 0.2s ease-in-out;
    }
  }
}

// screen --------------------------------------------------------------------
@media screen {
  @import "screen";
  .autumn {
    /**************************** LAYOUT ****/
    // Overrides
    body {
      overflow-x: hidden;
      color: $black;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    #wrap {
      position: relative;
      background-color: $neutral;
      flex: 1;
      height: 100%;
      padding-bottom: 3rem;
      > * {
        max-width: 80rem;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        //padding-bottom: 3rem;
      }
    }
    #top-nav {
      z-index: 2;
    }
    #content {
      position: relative;
      z-index: 1;
    }

    header,
    #top-nav,
    #content,
    #content > div,
    #content #primary > div,
    #content #sidebar > div #content #exhibit-pages,
    #content #search-filters li,
    #content #item-filters li {
      background-color: unset;
    }

    .logo {
      aspect-ratio: 1;
      position: absolute;
      width: 12rem;
      background-repeat: no-repeat;
      background-position: top right;
      height: auto;
      background-image: url(../images/GCHA_logoFinal.png);
      background-size: contain;
      /* margin: 0 auto; */
      padding-bottom: 2rem;
      top: 0;
      left: 0;
      transform: rotate(-12deg);
      opacity: 0.4;
    }

    header[role="banner"] {
      z-index: 2;
      padding: 1rem;
      #search-container {
        margin-left: auto;
        float: unset;
        width: unset;
        margin-top: 1rem;
      }
      #site-title {
        all: revert;
        line-height: 1.2;
        margin: 0 auto;
        max-width: 30ch;
        text-align: center;
        a {
          color: $black;
          font-size: 28px;
        }
      }
    }

    #search-container input#query,
    #search-form button {
      background-color: $white-transparent;
      color: black;
      &:active,
      &:focus {
        background-color: $white;
      }
    }
    nav.top a:link,
    .autumn nav.top a:visited {
      font-size: 0.85rem;
    }

    ul.locale-switcher .current-locale {
      background-color: $neutral-3 !important;
    }

    /***************** FOOTER ****/

    /* Footer */
    footer {
      margin-top: auto;
      background-color: $dark-grey;
      color: $white;
      font-size: 1rem;
      padding: 0;
      padding: 0 1rem;
      a {
        &:link,
        &:visited,
        &:active {
          text-decoration: none;
          color: $white;
        }
        &:hover {
          color: $neutral;
        }
      }
      p {
        margin: 0.6rem 0;
        font-size: 0.9em;
        line-height: 1.4;
      }
    }

    .footer_container {
      max-width: 1600px;
      width: unset;
      padding: 0;
      display: grid;
      place-self: center;
      grid-template-columns: 1fr 1fr;
    }

    .footer_logo {
      margin-left: auto;
      min-width: 10rem;
      max-width: 13rem;
      grid-column: 2;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .footer_menu {
      font-size: 0.8rem;
      grid-column: 1;
      grid-row: 1;

      > ul.navigation {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        justify-content: center;
        gap: 0.3rem;
        list-style-type: none;
        margin: 0 auto;
        ul {
          display: none;
        }
        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }
    }

    .footer_sponsor {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      grid-column: span 2;
      border-top: 2px solid $neutral;
      padding-top: 1rem;
      justify-content: center;
      & > .sshrc {
        & > div {
          font-size: 0.95em;
          line-height: 1.4;
        }
        img {
          padding: 1em 0;
          max-width: 100%;
          height: auto;
        }
      }
      & > .dhil {
        img {
          max-width: 14rem;
        }
        a {
          text-align: right;
          img {
            filter: saturate(80%) sepia(10%);
            transition: filter 0.3s ease-in-out;
          }
          &:hover {
            img {
              filter: revert;
            }
          }
        }
      }
    }

    /** All headings */

    #content {
      :is(h1, h2, h3, h4, h5) {
        text-transform: uppercase;
        margin-block-end: 0.25em;
        text-wrap-style: pretty;
        text-decoration: none;
      }

      h1 {
        line-height: 1.2;
        color: black;
      }
      h2 {
        font-size: 1.3em;
        border-bottom: none;
      }
      h3 {
        font-size: 1.21em;
        margin-bottom: 0.8em;
      }
      h2,
      h3 {
        @include link($color: $red-darkest) {
          font-weight: bold;
        }
      }
      h4 {
        font-size: 1.07em;
      }
      h5 {
        font-size: 1em;
      }
    }

    #home #content {
      #intro,
      #featured-collection,
      #featured-exhibit,
      #tag-word-cloud-container,
      #recent-items {
        float: none;
        width: unset;
        max-width: unset;
        margin: 0;
        & > h2 {
          color: $grey;
        }
      }
    }

    /*********************** LINKS */

    @include link;

    /*********************** SORT LINKS */

    #content #sort-links {
      background-color: $neutral;
      border: 1px solid $neutral-3;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      font-size: 14px;
      & > span {
        background: $neutral-3;
        margin: 0;
        padding: 0.8em;
      }
      & > * {
        padding: 0.8em 0;
        height: 100%;
        font-weight: 600;
      }
      ul#sort-links-list {
        background: $neutral;
        margin-left: 0.8em;
        display: flex;
        margin-top: 0;
        padding: 0;
        li {
          display: block;
          padding: 0.8em;
          height: 100%;
          a {
            color: $red-base;
          }
          a:after {
            display: inline-block;
            margin-left: 3px;
            content: "x";
            visibility: hidden;
          }
          &.desc a:after {
            content: "";
            visibility: visible;
          }
          &.asc a:after {
            content: "";
            visibility: visible;
          }
        }
        span {
          margin: 0;
        }
        li + li {
          border-left: 1px solid $neutral-3;
          height: 100%;
        }
      }
    }

    /********************** PAGINATION */
    #content {
      .item-pagination,
      .navigation,
      .items-nav,
      .pagination {
        li {
          padding: 0;
          display: flex;
          border: 1px solid $neutral-3;
          & > a {
            background: $neutral;
            box-shadow: $shadow-md;
            color: $red-base;
            display: block;
            height: 100%;
            width: 100%;
            padding: 0.8rem;
            transition: 0.2s ease-in-out;
            &:hover {
              color: $red-base;
              box-shadow: $shadow-sm;
              background-color: $neutral-3;
            }
          }
        }
        &:is(ul):has(.page-input) {
          display: flex;

          li {
            border: none;
          }
          li > a {
            padding: 0;
          }
        }
      }
      // .navigation a,
      // .pagination .page-input,
      // .pagination a {
      //   box-shadow: $shadow-sm;
      // }
    }

    #content button {
      background-color: $white-transparent;
    }

    /*********************** BREADCRUMBS */

    .header > #simple-pages-breadcrumbs {
      margin-bottom: 0.8rem;
    }
    .header > #simple-pages-breadcrumbs > a {
      display: inline;
      padding: 0;
      background-color: unset;
    }

    /*********************** TAGS */

    a[rel="tag"] {
      text-decoration: none;
      background-color: transparent;
      border: 1px solid $red-light;
      display: inline-flex;
      vertical-align: middle;
      width: fit-content;
      height: 1.5em;
      font-size: 0.875em;
      padding: 0.2em;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      &:hover {
        background-color: $red-darkest;
        color: $white;
        transition: 0.3s ease-in-out;
        border-color: $red-darker;
      }
    }

    /********************** HOME PAGE */
    #intro,
    #tag-word-cloud-container,
    #featured-collection,
    #featured-exhibit,
    #recent-items {
      border: 1px solid transparent;
    }

    #home #content {
      display: grid;
      grid-template-areas:
        "intro"
        "featured-collection"
        "featured-exhibit"
        "recent-items"
        "tag-word-cloud-container";

      #intro {
        grid-area: intro;
        border-bottom-color: $black;
      }
      #tag-word-cloud-container {
        grid-area: tag-word-cloud-container;
      }
      #featured-collection {
        grid-area: featured-collection;
        border-bottom-color: $black;
      }
      #featured-exhibit {
        grid-area: featured-exhibit;
        border-bottom-color: $black;
      }
      #recent-items {
        grid-area: recent-items;
        border-bottom-color: $black;
      }
    }

    #home #content #recent-items > div {
      border-top: 1px solid #dfe2e2;
    }

    /************************** SIMPLE PAGES ***/

    .simple-page {
      #primary {
        max-width: 58rem;
        font-size: 1.1rem;
        line-height: 1.45;
        padding: 0 0 0 0.75rem;
      }
    }

    /************************** COLLECTIONS ***/

    .collections.show #content .element-set,
    #content div.header {
      padding: 0.75rem 1rem;
      background: $neutral-transparent !important;
      width: fit-content;
    }

    div.header > p:first-child {
      font-size: 0.8em;
      margin: 0;
    }

    .collections.show {
      #content > h1 {
        display: none;
      }
      #content .element-set {
        #dublin-core-title {
          h3 {
            display: none;
          }
          .element-text {
            @extend h1;
            color: $black;
          }
        }
      }
      #collection-items .item.hentry {
        border-bottom: 1px solid $black;
      }
    }

    .collections.browse {
      .collection {
        border-bottom: 1px solid $black;
      }
    }

    /************************** EXHIBITS ***/
    .exhibits {
      &.browse {
        .exhibit:not(:last-child) {
          border-bottom: 1px solid $black;
        }
      }
      &.summary {
        #content #primary .exhibit-description {
          box-shadow: none;
        }
      }
    }

    /************************** ITEMS ***/
    .items {
      &.browse {
        #outputs {
          box-shadow: none;
        }
        .item.hentry {
          border-bottom: 1px solid $black;
        }
      }
      &.show {
        #content {
          #primary {
            padding-top: 1em;
            & > div {
              box-shadow: none;
              border: none;
            }
          }
          #sidebar {
            > * {
              background: inherit;
              margin: 0;
            }
            .element-set {
              padding: 0;
            }
            .element {
              padding-bottom: 0.375em;
              padding-top: 0.375em;
              padding-left: 2rem;
              border-bottom: 1px solid $dark-grey;
              .element-text {
                padding-bottom: 0.375em;
              }
              :is(h2, h3) {
                font-size: 16px;
                font-weight: 700;
                border-bottom: none;
                margin-bottom: 0.15em;
                margin-top: 1em;
              }
            }
            & > .element:last-child {
              border-bottom: none;
            }
          }
          .item-pagination {
            padding-top: 2rem;
            border-top: 1px solid $neutral-3;
          }
        }
      }
    }
  }
}

// 768px  --------------------------------------------------------------------
@media screen and (min-width: 768px) {
  @import "screen_768";
  .autumn {
    .logo {
      width: 18rem;
      top: 0;
      left: 0;
      transform: translateX(min(calc(85rem + 9rem), calc(100vw - 22rem)))
        rotate(18deg);
    }
    #home #content {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "intro featured-collection"
        "intro featured-collection"
        "intro featured-exhibit"
        "intro featured-exhibit"
        "intro recent-items"
        "tag-word-cloud-container recent-items"
        "tag-word-cloud-container recent-items"
        "tag-word-cloud-container recent-items";
      #intro {
        border-right-color: $black;
      }
      #tag-word-cloud-container {
        border-right-color: $black;
      }
      #recent-items {
        border-bottom-color: transparent;
      }
    }

    #wrap {
      padding-bottom: 8rem;
    }

    header[role="banner"] {
      display: grid;
      padding-top: 1rem;
      padding-bottom: 1rem;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: auto 1fr;
      position: relative;
      #site-title {
        padding-left: 0.8rem;
        padding-right: 0;
        max-width: unset;
        text-align: left;
        margin: 0;
      }
      ul.locale-switcher {
        display: none;
      }
    }

    footer {
      .footer_container {
        grid-template-columns: repeat(6, 1fr);
        padding: 0.85rem 0;
      }

      .footer_sponsor {
        grid-column: 2 / end;
        grid-row: end;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-around;
        align-items: baseline;
        padding-top: 1rem;
        & > .sshrc {
          flex: 0 1 50%;
        }
      }
      .footer_logo {
        grid-column: 1 / 2;
        grid-row: span 2;
        margin-right: 2rem;
        padding-bottom: 0;
      }
      .footer_menu {
        grid-column: 2 / end;
        grid-row: 1 / 2;
        padding-bottom: 1rem;
        ul.navigation {
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-end;
        }
      }
    }
    #top-nav {
      display: grid;
      flex-wrap: wrap-reverse;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: auto auto;
      position: relative;
      background: $neutral-transparent;
      .nav-menu > .nav-item:not(:hover) > a {
        &:link,
        &:visited {
          color: $black;
          &:hover {
            color: $white;
          }
        }
      }
      .nav-menu > li:hover {
        background: $red-darker;
        & > a {
          color: $white;
        }
      }
      ul li ul li {
        &:hover,
        a:hover {
          transition: background-color 0.2s ease-in-out;
          color: $white;
          background: $red-darker;
        }
      }
      .locale-switcher {
        margin-left: auto;
        margin-right: 0;
      }
    }

    .items {
      &.show {
        #content {
          display: grid;
          grid-template-columns: 2fr 1fr;
          .header {
            grid-column: span 2;
            margin-left: 0;
            margin-bottom: 1rem;
          }
          ul.navigation {
            grid-column: span 2;
          }
          #primary {
            float: none;
            width: unset;
            margin-right: unset;
            padding-right: 1rem;
            border-right: 1px solid $dark-grey;
            > * {
              position: sticky;
              top: 0.2rem;
              &:not(.application-pdf) {
                > * {
                  height: 100%;
                  > * {
                    height: 100%;
                  }
                }
              }
            }
          }
          #sidebar {
            float: none;
            width: unset;
            margin: unset;
            padding: 0;
          }
        }
      }
    }
  }
}

/* universal viewer fixes */
.uv {
  .btn-default {
    background-color: #565656 !important;
  }
  .btn.imageBtn {
    background-color: transparent !important;
  }
  .btn.imageBtn.gallery {
    padding: 5px 2px !important;
  }
}